.root {
     -fx-background-color: #494D5F;
     -fx-text-fill:#E5EAF5;
}
.button {
 -fx-background-color: #8458B3;
 -fx-text-fill:#E5EAF5;
}
.label{
-fx-text-fill:#E5EAF5;
}

.slider{
-fx-background-color: #8458B3;
 -fx-background-insets: 0 0 -1 0, 0, 1;
    -fx-background-radius: 0px;
    -fx-margin:7px;
    -fx-padding: 0.25em;
}

#button_play{
 -fx-background-image: url("../images/play.png");
    -fx-background-size: 35 35;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center center;
}

#button_pause{
 -fx-background-image: url("../images/pause.png");
    -fx-background-size: 35 35;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center center;
}

#button_stop{
 -fx-background-image: url("../images/reset.png");
    -fx-background-size: 35 35;
    -fx-background-repeat: no-repeat;
    -fx-background-position:center center;
}

#l_open,#ef{
-fx-font-size:16px;
-fx-font-weight:bold;
}

.check-box{
-fx-text-fill:#E5EAF5;
-fx-font-style:italic;
-fx-font-size:16px;
-fx-font-weight:bold;
}

